.notfound {
  padding: 0 16px;
}

.notfound h5 {
  
  font-size: 1.2rem;
  margin: 0;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 8px;
}
.notfound h6 {
  
  font-size: 1rem;
  margin: 0;

  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 8px;
}

.toolbar {
  justify-content: space-between;
  align-items: center;
  padding:0 !important;
}
.toolbar img {
  width: 24px;
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (min-width: 501px) {
  .toolbar img {
    display: none;
  }
}