.form-header {
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 1%;
  
  color: #fff;
}

.form-error {
  color: #fff;
  text-align: left;
}

.address-selection label {
  
  font-weight: 800;
  text-align: left;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}