.drawer-persistent {
  height: 100vh;
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
  max-width: 200px;
  border-right: 1px solid #d3d3d3;
  z-index: 200;
  display: block;
}
.drawer-temporary  {
  height: 100vh;
  top: 0;
  max-width: 350px;
  border-right: 1px solid #d3d3d3;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 60vw;
  display: none;
  overflow: overlay;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.drawer-temporary.open {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

@media screen and (max-width: 500px) {
  .drawer-persistent {
    display: none;
  }
  .drawer-temporary {
    display: block;
  }
}

.toolbar {
  border-bottom: 1px solid #d3d3d3;
}


.toolbar img {
  width: 48px;
  height: 48px;
}

.toolbar h6 {
  margin: 0;
  font-size: 2.3rem;
}

.navigation a {
  background: none;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #000;

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.navigation a:visited {
  color: #000;
}
.navigation svg {
  font-size: 1.5rem;

}
.navigation a:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.navigation a:hover svg {
  stroke:black;
}

.navigation a.active {
  background-color: #f2f2f2;
  stroke: black;
  font-weight: 800;
}

