.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.grid > img {
  width: 128px;
  height: 128px;
}

.grid * {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding: 0 16px;
  text-align: center;
}

.grid h6 {
  font-weight: 500;
  font-size: 1.125rem;
}

.grid p {
  font-weight: 600;
  font-size: 1rem;
}