.form label {
  text-align: left;
  margin-bottom: 0;
  font-family: Manrope-semibold;
}

.schedule {
  padding:0;
}
.schedule li {
  padding:0;
  font-family: Manrope-bold;
  font-size: 1.1rem;
}

.schedule * {
  color: #16181c;
}

.schedule p {
  opacity: 0.8;

  font-variant-numeric: tabular-nums;
}

.calculate {
  padding: 0 16px;
}