
.schedule {
  padding:0;
}
.schedule li {
  padding:0;
  font-family: Manrope-bold;
  font-size: 1.1rem;
  margin:0;
}


.schedule * {
  color: #16181c;
}

.schedule p {
  opacity: 0.8;
  font-variant-numeric: tabular-nums;
}

.schedule .list-title {
  display: none;
}