
.App  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App > div {
  min-width: 600px;
  max-width: 80vw;
}


@media only screen and (max-width: 600px) {
  .App > div {
    min-width: 200px!important;
    max-width: 80vw;
  }
}

@media only screen and (max-width: 480px) {
  .App > div {
    min-width: 300px!important;
    max-width: 80vw;
  }
}