
.view-wrapper {
  background-color: #fff;
  color: #000;
  padding: 16px;
}
.view * {
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
}
.view div button {
  background-color: inherit;
  color: #000;
  border: 1px solid #585f63;
  padding: 8px;
}
.view div button:hover {
  color: #000;
}
.view div h6 {
  margin:0;
  padding:0;
  
  font-size: 1.1rem;
  max-width: 220px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}


ul {
  padding:0;
  margin:0;
  list-style: none;
}

ul li {
  text-align:left;
}

ul * {
  padding:0;
  margin: 0;
  color: #fff;
}

.view button {
  color: #000;
  border: none;
  height: 48px;
  
  font-size: 1.1rem;
}
.view button:hover {
  cursor:pointer;
}

.table-container {
  border-radius: 0;
}

.unavailable {
  color: #fff;
}

.block {
  color: #fff;
}

